{{>layouts/header}}
<h1>Hello, world!</h1>

<div>
    <a href="/product/new" class="btn btn-primary">New Product</a>
    <a href="/product/show" class="btn btn-primary">Show Product</a>
</div>


{{>layouts/footer}}